body {
  font-family: "Quicksand", sans-serif;
}
.site-body {
  background-color: #283747;
}

.form {
  background-color: #34495e;
}

.button-wrapper {
  background-color: #273b50;
}


/* .checked.todo-item {
  font-style: italic;
  text-decoration: line-through;
} */

.js-check {
  cursor: pointer;
}
